/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.page {
  padding: 16px 16px 96px 16px;
}

.section-container {
  padding: 16px;
  background: #ffffff;
  border-radius: 8px;
  margin-bottom: 24px;
}

.zaui-header {
  text-align: center;
}

.zaui-header .zaui-header-back {
  position: absolute;
}

.calendar-day-active {
  padding: 0;
}

.calendar-day-active p {
  background-color: #95bcf2;
  padding: 3px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.timeline-list::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 62px;
  width: 12px;
  border-left: 1px solid #6b7280;
  border-right: 1px solid #6b7280;
  height: 100%;
}

.timeline-list {
  color: #6b7280;
}

.timeline-list li:first-child {
  margin-top: 0;
}

.timeline-list li:first-child .icon svg:nth-child(1) {
  display: none;
}

.timeline-list li:first-child .icon svg:nth-child(2) {
  display: block;
}

.timeline-list li:first-child .icon {
  background-color: #fff;
  border-radius: 50%;
  font-size: 30px;
  /* transform: translate(-17%, 0); */
}

.timeline-list li:first-child .timeline-text {
  color: #2b78e4;
  font-weight: bold;
}

.timeline-list li:first-child .timeline-date {
  color: #333;
  font-weight: bold;
}

.timeline-list li .icon svg:nth-child(2) {
  display: none;
}

.timeline-list li:last-child::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 62px;
  width: 12px;
  height: 140%;
  max-height: 50px;
  background-color: #fff;
}

.timeline-list li.active .icon svg:nth-child(1) {
  display: none;
}

.timeline-list li.active .icon svg:nth-child(2) {
  display: block;
}

.timeline-list li.active .icon {
  background-color: #fff;
  border-radius: 50%;
  font-size: 30px;
  transform: translate(-17%, 0);
}

.timeline-list li.active .timeline-text {
  color: #2b78e4;
  font-weight: bold;
}

.timeline-list li.active .timeline-date {
  color: #333;
  font-weight: bold;
}

/* .zaui-image-viewer-header {
  top: 40px;
} */

/* PAGINATE */
.pagination {
  justify-content: center;
  display: flex;
  padding-left: 0;
  list-style: none;
  margin: 0;
}

.page-item .page-link {
  position: relative;
  display: block;
  margin: 0 2px;
  min-width: 30px;
  text-align: center;
  text-decoration: none;
  background-color: #fff;
  padding: 3px 0;
}

.page-item.active .page-link {
  font-weight: 700;
  color: #fff;
  background-color: #007bff;
}

.page-item.disabled .page-link {
  color: #6c757d;
  pointer-events: none;
  cursor: auto;
}

.custom-checkbox-hidden .zaui-checkbox {
  display: none;
}

.custom-checkbox-hidden .zaui-checkbox-wrapper {
  border: 1px solid rgb(121, 121, 121);
  border-radius: 5px;
  padding: 10px 5px;
}

.custom-checkbox-hidden .zaui-checkbox-wrapper.zaui-checkbox-checked {
  border-color: #006af5;
  color: #006af5 !important;
  font-weight: bold !important;
}

.custom-checkbox-hidden
  .zaui-checkbox-wrapper.zaui-checkbox-checked
  .zaui-checkbox {
  display: block;
  position: absolute;
  top: -8px;
  right: -8px;
}

.custom-checkbox-hidden
  .zaui-checkbox-wrapper.zaui-checkbox-checked
  .zaui-checkbox-inner {
  border-radius: 100%;
}

.avatar-contain .zaui-avatar-image {
  object-fit: contain;
}

.divide-ticket::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  width: 2px;
  border-left: 2px dashed #fff;
  height: 200%;
}

.ticket-ui-left::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 100%;
}

.ticket-ui-left::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translate(-50%, 50%);
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 100%;
}

.ticket-ui-right::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 100%;
}

.ticket-ui-right::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(50%, 50%);
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 100%;
}

.container_wheel::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 45%;
  /* transform: translate(-50%, 0); */
  background-image: url("./../static/arrow.png");
  background-size: 100% 100%;
  background-position: center;
  width: 35px;
  height: 50px;
}

.container_wheel.wheeling::before {
  animation: wheel-arrow 0.07s linear infinite alternate;
}

@keyframes wheel-arrow {
  0% {
    transform: rotateZ(10deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}

.custom-picker input {
  visibility: hidden;
}

.scrollbar::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.scrollbar::-webkit-scrollbar-track {
  border-radius: 10vh;
  background: #fff;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: rgba(147, 197, 253, 0.5);
  border-radius: 10vh;
  border: 3px solid #f6f7ed;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(147, 197, 253, 1);
}

.choices .zaui-radio + span {
  margin-left: 0px;
}
