@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @variants responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }

    /* width */
    .beatiful-scrollbar::-webkit-scrollbar {
      height: 4px;
    }

    /* Track */
    .beatiful-scrollbar::-webkit-scrollbar-track {
      background: #fff;
    }

    /* Handle */
    .beatiful-scrollbar::-webkit-scrollbar-thumb {
      background: #888;
    }
  }
}
